.main-trackList-disabled {
    background: #f004;
}

.main-trackList-disabled:focus-within,
.main-trackList-disabled:hover {
    background: #f005;
}

.main-trackList-disabled.main-trackList-selected,
.main-trackList-disabled.main-trackList-selected:hover {
    background: #f006;
}